@page "/"

<PageTitle>FLL Slides</PageTitle>

<MudLayout>
    <MudMainContent Class="pt-0">
        <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
            <MudText Typo="Typo.h4">FLL Slides</MudText>
            <MudSpacer />
            <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Help" Color="Color.Warning" @onclick="OpenWelcomeDialog">Welcome</MudButton>
        </MudAppBar>

        <div class="TopSpacer"></div>

        <MudGrid Spacing="6">
            <MudItem xs="12" lg="5">
                <MudAutocomplete Value="Profile" ValueChanged="DoProfileSelected" T="RequestModel" Strict="false"
                    SearchFunc="IdentifyProfiles" ToStringFunc="@(e => e==null ? null : e.Name)"
                    Variant="Variant.Outlined"
                    Label="Start with a pre-set tournament profile" InputMode="InputMode.text" 
                    Dense="true"
                    Placeholder="Select a tournament profile"
                    HelperText="Select a tournament profile"
                    HelperTextOnFocus="false"
                    Clearable="false" />

                <MudExpansionPanels MultiExpansion="true" Gutters="false" Dense="true" Outlined="true">
                    <MudExpansionPanel Expanded="true">
                        <TitleContent>
                            <MudText Typo="Typo.h6">Teams</MudText>
                        </TitleContent>
                        <ChildContent>
                            <MudItem xs="12">
                                <MudTextField @bind-Value="Teams" T="string" Label="Team Numbers and Names" HelperText="Team number and names, delimited by spaces, tabs, or commas, one team per line" Variant="Variant.Outlined" Lines="12" AutoGrow="true" />
                            </MudItem>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>

            <MudItem xs="12" lg="7">
                <MudStack Row="true">
                    <MudButton Disabled="@Generating" OnClick="DoGenerateSlides" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">
                        @if (Generating)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Generating...</MudText>
                        }
                        else
                        {
                            <MudText>Generate Slides</MudText>
                        }
                    </MudButton>
                </MudStack>
                <div class="vertical-scroll">
                    @if (Errors.Any())
                    {
                        <MudText Typo="Typo.h6">Configuration Errors</MudText>
                        @foreach (var error in Errors)
                        {
                            <MudText Typo="Typo.body1" Color="Color.Error">@error</MudText>
                        }
                    }
                </div>
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>