@page "/"

<PageTitle>FLL Slides</PageTitle>

<MudLayout>
    <MudMainContent Class="pt-0">
        <MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
            <MudText Typo="Typo.h4">FLL Slides</MudText>
            <MudSpacer />
            <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Help" Color="Color.Warning" @onclick="OpenWelcomeDialog">Welcome</MudButton>
        </MudAppBar>

        <div class="TopSpacer"></div>

        <MudGrid Spacing="6">
            <MudItem xs="12" lg="3">
                <MudText Typo="Typo.h6">Teams</MudText>
                <MudItem xs="12">
                    <MudTextField
                        Value="@(GetDefaultTeamText())"
                        ValueChanged="@(t => DoSetTeams(t))"
                        T="string"
                        Label="Team Numbers and Names"
                        HelperText="Team number and names, delimited by spaces, tabs, or commas, one team per line"
                        Variant="Variant.Outlined"
                        Lines="24"
                        AutoGrow="true" />
                </MudItem>
            </MudItem>

            <MudItem xs="12" lg="9">
                <MudText Typo="Typo.h6">Presentation Details</MudText>
                <MudAutocomplete Value="Template" ValueChanged="DoTemplateSelected" T="TemplateDetails" Strict="false"
                    SearchFunc="IdentifyProfiles" ToStringFunc="@(e => e==null ? null : $"{e.Name} ({e.Fields.Length} fields)")"
                    Variant="Variant.Outlined"
                    Label="Choose an awards presentation template"
                    Placeholder="Choose an awards presentation template"
                    InputMode="InputMode.text"
                    Dense="true"
                    Clearable="false" />

                @foreach (var field in Template.Fields)
                {
                    <MudGrid Spacing="2">
                        <MudItem xs="12" lg="12">
                            <MudStack Row="true">
                            <MudAutocomplete
                                Value="@(GetDefaultValue(field))"
                                ValueChanged="@(t => DoFieldValueSelected(field, t))"
                                @ref="autocompletes[field]"
                                T="Team"
                                SearchFunc="IdentifyTeams"
                                ToStringFunc="@(t => t == null ? null : t.Number == 0 ? t.Name : $"{t.Name} ({t.Number})")"
                                Strict="false"
                                MaxItems="60"
                                Variant="Variant.Outlined"
                                Label="@field"
                                Placeholder="@($"Choose the '{field}' winner, or select Other")"
                                InputMode="InputMode.text"
                                Dense="true"
                                Clearable="false" />
                            @if (autocompletes.ContainsKey(field) && autocompletes[field]?.Value?.Number == 0)
                            {
                                <MudTextField
                                    Value="@(GetOtherDefaultValue(field))"
                                    ValueChanged="@(v => DoOtherFieldValueEntered(field, v))"
                                    T="string"
                                    Label="Other"
                                    HelperText="Type the award winner if not one of the selectable teams"
                                    Variant="Variant.Outlined"
                                    Lines="1"
                                    AutoGrow="false" />
                            }
                            </MudStack>
                        </MudItem>
                    </MudGrid>
                }

                <MudButton Disabled="@Generating" OnClick="DoGenerateSlides" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Refresh" Color="Color.Primary">
                    @if (Generating)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Generating...</MudText>
                    }
                    else
                    {
                        <MudText>Generate Slides</MudText>
                    }
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>